<h1>Administrar Privilegios</h1>

<table class="rwd-table">
  <tr>
    <th>Email</th>
    <th>Privilegio</th>
    <th>Ascender</th>
    <th>Descender</th>
  </tr>
  <% @users.each do |u| %>
      <tr>
        <td> <%= u.email %></td>
        <td><%= u.privileges.first.nil? ? 'nil' : u.privileges.first.level %></td>
        <td>
          <%= button_to 'volver admin',
                        {:controller => 'index',
                         :action => 'permission',
                         :email => u.email,
                         :user_id => u.id,
                         :permission => 'root',
                         :name => 'admin'
                        },
                        {:method => :post, class: 'btn2'} %>
        </td>
        <td>
          <%= button_to 'volver  común',
                        {:controller => 'index',
                         :action => 'permission',
                         :email => u.email,
                         :user_id => u.id,
                         :permission => 'normal',
                         :name => 'commoner'
                        },
                        {:method => :post, class: 'btn2'} %>
        </td>
      </tr>
  <% end %>
</table>

<%= link_to('Regresar', index_home_path) %>



