<div align="left"><%= link_to('Regresar', index_home_path) %></div>
<div class="container-fluid">
  <h1>Nombre del Documento: <%= @doc.name %></h1>
  <%= collection_select(:chapter_id, :chapter_id, @chapters, :id, :name, {:prompt => 'Seleccionar Cap.'}, {:id => 'chapters_select'}) %>
  <br>
  <%= collection_select(:section_id, :section_id, @sections, :id, :name, {:prompt => 'Seleccionar Sección.'}, {:id => 'sections_select'}) %>

  <%= form_tag(index_document_path, method: :post, :name => 'subsection') do %>
      <div class="form-inline">
        <div class="col-md-2 p-1">
          <%= collection_select(:subsection_id, :subsection_id, @subsections, :id, :name, {:prompt => 'Seleccionar Subsección.', data: {remote: true}}, {:id => 'subsections_select'}) %>
        </div>
        <% @h_params = [:chapter_id, :subsection_id] %>
        <div class="col-sm-12 p-1">
          <%= hidden_field_tag('hidden', @h_params) %>
          <%= submit_tag('Cargar Parrafos', :class => ' btn-info btn-xs') %>
        </div>
      </div>
  <% end %>
</div>
<div class="container-fluid">
  <% unless params[:subsection_id].nil? %>
      <% Subsection.find(params[:subsection_id][:subsection_id]).contents.each do |ct| %>
          <p align="justify">
            <% if ct.oftype != 'table' %>
                <%= "#{ct.code.gsub('\n', '<br>')}".html_safe if ct.oftype == 'text' %>
                <%= image_tag(ct.code, alt: ct.extra, data: {title: ct.title}) if ct.oftype == 'image' %>
                <br>
                <div class="form-inline">
                  <%= button_to new_interaction_path(ct: ct.id, bw: current_user.id), {class: 'btn btn-default btn-lg'} do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>

                  <%= button_to interactions_path(ct: ct.id, bw: current_user.id), {class: 'btn btn-default btn-lg', method: :get} do %>
                      <span class="glyphicon glyphicon-list"></span>
                  <% end %>
                </div>
                <br>
                </p>
            <% else %>
                <%= "#{ct.code.gsub('<table>', "<table class = 'resp3-table'>")}".html_safe if ct.oftype == 'table' %>
                <tr>
                  <td>
                    <div class="form-inline">
                      <%= button_to new_interaction_path(ct: ct.id, bw: current_user.id), {class: 'btn btn-default btn-lg'} do %>
                          <span class="glyphicon glyphicon-pencil"></span>
                      <% end %>

                      <%= button_to interactions_path(ct: ct.id, bw: current_user.id), {class: 'btn btn-default btn-lg', method: :get} do %>
                          <span class="glyphicon glyphicon-list"></span>
                      <% end %>
                    </div>
                  </td>
                </tr>
                <br>
            <% end %>
      <% end %>
  <% end %>
</div>
</div>
</div>


<script>
    $(document).ready(function () {
        $('#chapters_select').change(function () {
            $.ajax({
                url: "<%= update_sections_path %>",
                data: {
                    'chapter_id': $('#chapters_select').val(),
                    'this': 'thisiss'

                },
                dataType: "script"
            });
        });
        $('#sections_select').change(function () {
            $.ajax({
                url: "<%= update_subsections_path %>",
                data: {
                    'section_id': $('#sections_select').val(),
                    'id2': "thisis"

                },
                dataType: "script"
            });
        });
        $('#subsections_select').change(function () {
            $.ajax({
                url: "<%= update_paragraphs_path %>",
                data: {
                    'subsection_id': $('#subsections_select').val(),
                    'id2': "thisis"

                },
                dataType: "script"
            });
        });
    });

</script>
