<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p><br/>
<div align="right">
<% if current_user.privileges.first.level == 'root' %>
    <%= link_to('administrar cuentas',index_admin_path)  %>
<% end %> <br/>

<%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %>
<br>
</div>
<div align="center">
<%= image_tag('image1.png')%><br/>
<p>
  PROGRAMA DE MANEJO
<br>

  RESERVA DE LA BIOSFERA
  <br>
  CARIBE MEXICANO

<br>
  BORRADOR

<br>

  MAYO, 2017
</p>
</div>