<div id="flash">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div align="left">
        <% if current_user.privileges.first.level == 'root' %>
            <%= link_to('Administrar Cuentas', index_admin_path) %>
            <br>
            <%= link_to('Reportes y analíticas', index_data_path) %>
            <br>
        <% end %>

        <%= link_to('Documento', index_document_path) %>
        <br>
        <%= link_to('Comentarios Realizados',interactions_path) %>
        <br>
        <%= link_to('Cerrar sesión', destroy_user_session_path, :method => :delete) %>
        <br>
      </div>
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <div align="top">
        <%= image_tag('imp.png') %>
        <br/>
        <p>
          PROGRAMA DE MANEJO
          <br>

          REPORTES DE OPERACION
          <br>
          IMPULSORA S.A. DE C.V.

        
        </p>

        <!--Body content-->
      </div>
    </div>
  </div>
</div>

