<!DOCTYPE html>
<html>
<head>
  <title>DCOS</title>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
</head>
<body>
<%= yield %>
</body>

</html>
